Data Warehousing and Business Intelligence

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from google.colab import drive
import pandas as pd

drive.mount('/content/drive')

file_path = '/content/drive/My Drive/bank_transactions.csv'

df = pd.read_csv(file_path)

# df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Identify and remove null **values**

In [ ]:
print(df.isnull().sum())

TransactionID                 0
CustomerID                    0
CustomerDOB                3397
CustGender                 1100
CustLocation                151
CustAccountBalance         2369
TransactionDate               0
TransactionTime               0
TransactionAmount (INR)       0
dtype: int64

In [ ]:
print(df.isnull().sum().sum())

7017

In [ ]:
df[df.isnull().any(axis=1)]

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
29,T30,C8736958,19/12/86,M,GRAM PANCHAYTH HYDERABAD,NaN,3/8/16,160636,2600.0
176,T177,C5698953,1/1/1800,NaN,NAVI MUMBAI,8512.28,12/8/16,155727,3449.0
222,T223,C9022645,NaN,M,BHIWANDI,1730.30,21/10/16,150814,4000.0
1271,T1272,C2314972,29/7/93,M,THANE,NaN,21/10/16,203227,53.0
1495,T1496,C2515550,NaN,M,NEW DELHI,384.07,21/10/16,193326,2800.0
...,...,...,...,...,...,...,...,...,...
1047762,T1047763,C3827041,NaN,M,PUNE,91.36,18/9/16,193122,284.0
1047919,T1047920,C2427054,NaN,M,PUNE,91.36,18/9/16,201925,365.0
1048048,T1048049,C1927213,25/4/80,M,SALEM,NaN,18/9/16,82422,2200.0
1048152,T1048153,C8138543,NaN,F,REIS MAGOS BARDEZ,2630.67,18/9/16,181307,252.0
1048472,T1048473,C1242585,NaN,M,NEW DELHI,1290777.41,18/9/16,175303,8921.0

In [ ]:
df_cleaned = df.dropna()

In [ ]:
print(df_cleaned.isnull().sum())

TransactionID              0
CustomerID                 0
CustomerDOB                0
CustGender                 0
CustLocation               0
CustAccountBalance         0
TransactionDate            0
TransactionTime            0
TransactionAmount (INR)    0
dtype: int64

In [ ]:
print(df_cleaned.isnull().sum().sum())

0

# **Identify and remove invalid transaction amount values**

In [ ]:
# Counting missing values
print(df['TransactionAmount (INR)'].isnull().sum())

0

In [ ]:
# Identifying invalid amounts
print(df[df['TransactionAmount (INR)'] <= 0])

        TransactionID CustomerID CustomerDOB CustGender CustLocation  \
384              T385   C6117158     25/9/89          M    BANGALORE
2498            T2499   C9074213     10/6/88          M    BANGALORE
2623            T2624   C7930692     16/7/93          M    HYDERABAD
2672            T2673   C4397046     13/1/97          M       MUMBAI
4083            T4084   C4227711     3/12/91          M    NEW DELHI
...               ...        ...         ...        ...          ...
1029145      T1029146   C5524842     29/6/63          F      GURGAON
1032164      T1032165   C9026149     15/9/90          M    DERABASSI
1036358      T1036359   C5936956    1/1/1800          M      GURGAON
1038286      T1038287   C7633429    1/1/1800          M     N T PUNE
1038415      T1038416   C3924885      2/8/87          M       GUNTUR

         CustAccountBalance TransactionDate  TransactionTime  \
384                  128.84        21/10/16            74817
2498               15834.56        21/10/16           154219
2623                5795.30        21/10/16           152742
2672              185401.34        21/10/16            30017
4083               11846.77         22/9/16            70059
...                     ...             ...              ...
1029145           173469.49         13/9/16            33929
1032164                8.79         13/9/16           110728
1036358               48.90         18/9/16           115328
1038286           181600.42         18/9/16            53145
1038415               34.54         18/9/16            71820

         TransactionAmount (INR)
384                          0.0
2498                         0.0
2623                         0.0
2672                         0.0
4083                         0.0
...                          ...
1029145                      0.0
1032164                      0.0
1036358                      0.0
1038286                      0.0
1038415                      0.0

[835 rows x 9 columns]

In [ ]:
print(df[~df['TransactionAmount (INR)'].apply(lambda x: str(x).replace('.', '', 1).isdigit())])

Empty DataFrame
Columns: [TransactionID, CustomerID, CustomerDOB, CustGender, CustLocation, CustAccountBalance, TransactionDate, TransactionTime, TransactionAmount (INR)]
Index: []

In [ ]:
df_cleaned = df_cleaned[df_cleaned['TransactionAmount (INR)'] > 0]

In [ ]:
print(df_cleaned['TransactionAmount (INR)'].isnull().sum())
print(df_cleaned[df_cleaned['TransactionAmount (INR)'] <= 0])

0
Empty DataFrame
Columns: [TransactionID, CustomerID, CustomerDOB, CustGender, CustLocation, CustAccountBalance, TransactionDate, TransactionTime, TransactionAmount (INR)]
Index: []

In [ ]:
print("Minimum Transaction Amount:", df_cleaned['TransactionAmount (INR)'].min())
print("Maximum Transaction Amount:", df_cleaned['TransactionAmount (INR)'].max())

Minimum Transaction Amount: 0.01
Maximum Transaction Amount: 1560034.99

# Identify and remove invalid age values

In [ ]:
df['CustomerDOB'] = pd.to_datetime(df['CustomerDOB'], errors='coerce', dayfirst=True)

<ipython-input-16-b276d8e24317>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['CustomerDOB'] = pd.to_datetime(df['CustomerDOB'], errors='coerce', dayfirst=True)

In [ ]:
from datetime import datetime

# Defining current year
current_date = datetime.today()

# # Converting days to years
df['Age'] = (current_date - df['CustomerDOB']).dt.days // 365

In [ ]:
# Displaying invalid ages
print(df[(df['Age'] < 18) | (df['Age'] > 100)])

        TransactionID CustomerID CustomerDOB CustGender    CustLocation  \
1                  T2   C2142763  2057-04-04          M         JHAJJAR
3                  T4   C5342380  2073-09-14          F          MUMBAI
5                  T6   C1536588  2072-10-08          F        ITANAGAR
15                T16   C8334633  2068-07-10          F       NEW DELHI
16                T17   C1376215  1800-01-01          M          MUMBAI
...               ...        ...         ...        ...             ...
1048533      T1048534   C7431884  1800-01-01          M  MANDIR DHANBAD
1048536      T1048537   C2939947  2033-10-05          M       NEW DELHI
1048540      T1048541   C1528025  1800-01-01          M          MUMBAI
1048544      T1048545   C3712582  2071-10-05          M          MUMBAI
1048552      T1048553   C5091732  2071-08-21          F       NEW DELHI

         CustAccountBalance TransactionDate  TransactionTime  \
1                   2270.69          2/8/16           141858
3                 866503.21          2/8/16           142714
5                  53609.20          2/8/16           173940
15                  1283.12          1/8/16           125725
16                 77495.15          1/8/16           124727
...                     ...             ...              ...
1048533            53771.64         18/9/16           184049
1048536            92173.35         18/9/16           184556
1048540           230894.59         18/9/16           182331
1048544            25414.52         18/9/16           182015
1048552           235620.05         18/9/16           184234

         TransactionAmount (INR)    Age
1                       27999.00  -33.0
3                        2060.00  -49.0
5                         676.00  -48.0
15                        250.00  -44.0
16                       1423.11  225.0
...                          ...    ...
1048533                   520.00  225.0
1048536                  1319.04   -9.0
1048540                   290.00  225.0
1048544                   400.00  -47.0
1048552                  1058.00  -47.0

[162738 rows x 10 columns]

In [ ]:
# ages between 18 and 100
df_cleaned = df[(df['Age'] >= 18) & (df['Age'] <= 100)]

In [ ]:
print(df_cleaned['Age'].min(), df_cleaned['Age'].max())

18.0 50.0

In [ ]:
# Saving cleaned data set
df_cleaned.to_csv("cleaned_data.csv", index=False)

# 5 top Locations where the maximum number of transactions occurred.

In [ ]:
top_locations = df['CustLocation'].value_counts().head(5)
print(top_locations)

CustLocation
MUMBAI       103595
NEW DELHI     84928
BANGALORE     81555
GURGAON       73818
DELHI         71019
Name: count, dtype: int64